<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %><br/>
    <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, class: "form-label" %><br/>
    <%= form.text_area :content, autofocus: true, autocomplete: "content", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :importance, class: "form-label" %><br/>
    <%= select_tag :importance, options_for_select(Notification.importances.map { |key, value| [key.humanize.titlecase, value] }), name: 'notification[importance]', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :day, class: "form-label" %><br/>
    <%= form.datetime_field :day, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tag, class: "form-label" %><br/>
    <%= form.text_field :tag, autofocus: true, autocomplete: "tag", class: "form-control" %>
  </div>
  
  <% if notification.new_record? %>
    <div class="form-group">
      <%= label_tag :users, 'Select Users' %><br/>
      <%= select_tag :users, options_for_select(User.all.pluck(:email), @notification.user), {multiple: true} %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Save Notification", class: "btn btn-primary mt-3 mr-2" %>
    <%= link_to "Back to notifications", notifications_path, class: 'btn btn-secondary mt-3' %>
  </div>


<% end %>
